{% load static %}
{% block head %}
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
      .field-wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #id_status[readonly] {

    background-color: #f0f0f0; 
    color: #888888; 
    cursor: not-allowed; 
    pointer-events: none; 
}
  </style>
  
{% endblock %}
{% block content %}
  <div class="container">
      <div class="row">
                  <form method="POST" novalidate enctype="multipart/form-data">
                <h2>Create Blogs</h2>
                {% csrf_token %}
                  {% for field in form %}
                      <div class="field-wrapper">
                        {{ field }}
                        <div class="labeli">{{ field.label }} </div>  
						<div class="text-danger">
							{{ field.errors }}
							</div>
                      </div>
                  {% endfor %}
                <button class="btn" type="submit">Create</button>
              </form>

      </div>
    </div>

{% endblock %}

