{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>Home Page</title>
{% endblock %}
{% block content %}
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>	
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between" style="height: 820px;">
                <div class="row align-items-center">
                    <div class="col-lg-6 about-right" style="left:130px;">
                        <h1 style="width: 660px;color: #2F327D;font-size: 54px;font-style: normal;font-weight: 700;line-height: normal;"><span style="color: #FF7A59;">Studying</span> Online is now much easier</h1>
                        <br>
                        <p style="width: 582px;color: #464646;font-size: 24px;font-style: normal;font-weight: 400;line-height: 160%; /* 38.4px */">LearnHub is an interesting platform that will teach you in more an interactive way								
                        </p>
                        <br>
                        <a class="primary-btn" href="">Join for free</a>
                    </div>
                    <div class="col-lg-6 about-left">
                        <img src="{% static 'public/Group 7.png'%}" alt="" style="position: absolute;top: -81px;left: 200px; animation: slideInLeft 2s forwards;transition: left 1s ease, opacity 1s ease;">
                        <img src="{% static 'public/Group 10.png'%}" alt="" style="position:absolute;z-index: 1;top: 50px;left: 953px; animation: slideInRight 2s forwards;" width="300">
                        <img src="{% static 'public/Group 13.png'%}" alt="" style="position:absolute;z-index: 1;top: 147px;left: 353px; animation: slideInLeft 2s forwards; ">
                        <img class="img-fluid" src="{% static 'public/lovely-teenage-girl-with-curly-hair-posing-yellow-tshirt-min 1.png'%}" alt="" width="650" style="position: absolute;left: 475px;top: -350px;">
                    </div>
                </div>
                
            </div>
        </div>					
    </section>

    <section class="services-area section-gap">
        <div class="container">
            <div class="row section-title">
                <h1>Trusted by 5,000+ Companies Worldwide</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 single-service">
                    <img src="{% static 'public/google-2015 1.png'%}" alt="" width="150">
                </div>
                <div class="col-lg-4 single-service">
                    <img src="{% static 'public/netflix-3 1.png'%}" alt="">
                </div>
                <div class="col-lg-4 single-service">
                    <img src="{% static 'public/airbnb 1.png'%}" alt="">
                </div>		
                <div class="col-lg-4 single-service">
                    <img src="{% static 'public/amazon-2 (1) 1.png'%}" alt="">
                </div>	
                <div class="col-lg-4 single-service">
                    <img src="{% static 'public/facebook.png'%}" alt="">
                </div>
                <div class="col-lg-4 single-service">
                    <img src="{% static 'public/grab-logo.png'%}" alt="">
                </div>												
            </div>	
        </div>	
    </section>

    <section class="services-area section-gap">
        <div class="container">
            <div class="row section-title">
                <h1 style="color: #2F327D; font-style: normal;font-weight: 700;"> All-In-One <span style="color: #FF7A59;">Cloud Software.</span></h1>
                <p style="color: #696984;text-align: center;font-size: 18px;font-style: normal;font-weight: 400;line-height: 180%;"> LearnHub is one powerful online software suite that combines all the tools needed to run a successful school or office.</p>
            </div>
            <div class="row"  style="position: relative;top: 80px;">
                <div class="col-lg-4 single-services">
                    <div ><img src="{% static 'public/Group 79.png'%}" alt="" style="position: relative;top:-80px;border-radius: 103px;box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);"></div>
                    <a href="#"><h4>Studying at the highest level</h4></a>
                    <p>
                        We work with the best educational institutions and educational partners around the world to provide you with access to quality education. Our programs are accredited and recognized by leading employers.
                    </p>
                </div>
                <div class="col-lg-4 single-services">
                    <div ></div><img src="{% static 'public/Group 80.png'%}" alt=""style="position: relative;top:-80px;border-radius: 103px;box-shadow: 0px 16px 40px rgba(37, 44, 113, 0.10);"><br>
                    <a href="#"><h4>Financial accessibility</h4></a>
                    <p>
                        LearnHub understands the importance of financial accessibility of education. We offer various financial options, including discounts, scholarships and flexible payment, to ensure that you can study without financial difficulties.
                    </p>
                </div>
                <div class="col-lg-4 single-services">
                    <div><img src="{% static 'public/Group 81.png'%}" alt="" style="position: relative;top:-80px;border-radius: 103px;box-shadow: 0px 10px 40px rgba(54, 61, 136, 0.06);"></div><br>
                    <a href="#"><h4>Support at every stage          </h4></a>
                    <p>
                        Our team of career and education advisors is always ready to help you choose suitable training programs and advise on career development issues. We support you at every stage of your educational journey.
                    </p>
                </div>												
            </div>	
        </div>	
    </section>


    <section class="latest-blog-area section-gap">
        <div class="container" style="max-width: 1140px;">
            <div class="row section-title">
                <h1 style="color: #2F327D; font-style: normal;font-weight: 700;"> What is <span style="color: #FF7A59;">LearnHub?</span></h1>
                <p style="color: #696984;text-align: center;font-size: 18px;font-style: normal;font-weight: 400;line-height: 180%;"> LearnHub works for corporate employer clients to facilitate direct payment for courses to education provider clients and offers marketing services to the education provider clients.</p>

            </div>						
            <div class="row" style="text-align: center;">
                <div class="col-lg-6">
                    <div class="single-latest-blog">
                        <div class="thumb" width="500">
                            <h4>FOR INSTRUCTORS</h4>
                            <a href="" class="primary-btn" style="border: 1px solid #FFF;background: transparent;">Start a class today</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-latest-blog">
                        <div class="thumbs">
                            <h4>Customer Tracking                    </h4>
                            <a href="" class="primary-btn"  style="background: rgba(35, 189, 238, 0.90);">Enter access code</a>
                        </div>

                    </div>
                </div>						
            </div>
            
        </div>	
    </section>

    <section class="section-gap">
        <div class="container" style="width:1200px;">
            <div class="row align-items-center">
                <div class="col-lg-6 about-left">
                    <h1 style="color: #2F327D; font-style: normal;font-weight: 700;"> Everything you can do in a physical classroom,<span style="color: #FF7A59;"> you can do with LearnHub</span></h1><br><br>
                    <p style="color: #696984;text-align: left;font-size: 18px;font-style: normal;font-weight: 400;line-height: 180%;top: 50px;"> We understand that each of us has our own responsibilities and daily routine. That is why we offer a wide selection of courses and programs that can be studied online at a time convenient for you. You create a study schedule that fits your life.</p>
                </div>
                <div class="col-lg-6 about-right">
                    <img class="img-fluid" src="{% static 'public/confident-teacher-explaining-lesson-pupils 1.png'%}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="home-about-area" style="padding-bottom: 120px;">
        <div class="container" style="width:1320px;">
            <div class="row align-items-center">
                <div class="col-lg-6 about-left">
                    
                    <img class="img-fluid" src="https://img.freepik.com/premium-vector/opportunities-for-employee-growth-and-development-concept-hrm-symbol-employee-with-multi-direction_135661-312.jpg" alt="">
                </div>
                <div class="col-lg-6 about-right">
                    <h1 style="color: #2F327D; font-style: normal;font-weight: 700;"> <span style="color: #FF7A59;"> Opportunities </span>  for growth</h1><br><br>
                    <p style="color: #696984;text-align: left;font-size: 18px;font-style: normal;font-weight: 400;line-height: 180%;top: 50px;">Studying through LearnHub opens the door to higher salaries, exciting career paths and new opportunities. Let us help you achieve your goals.</p>
                    </p>
                    <a style="color: #696984;font-size: 22px;font-style: normal;font-weight: 400;line-height: 180%; /* 39.6px */text-decoration-line: underline;" href="">Learn more</a>
                </div>
            </div>
        </div>	
    </section>


{% endblock %}
