{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Уведомления</h2>
    <ul class="notifications">
        {% if new_course_count > 0 %}
        У вас {{ new_course_count }} новых курсов!
    {% else %}
        Нет новых курсов.
    {% endif %}
    
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    $.ajax({
        url: "{% url 'get_notifications_count' %}",
        type: 'GET',
        success: function(data) {
            $('.notification-icon').text(data.count);
        },
        error: function(data) {
            console.log("Error:", data);
        }
    });
});
</script>

{% endblock %}
