{% load static %}
<html>
    <head>
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    </head>
    </body>
</html>
{% block head %}
  <title>Registration</title>
  <style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
      }
  </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 login-row">
            <div class="col-2"></div>
            <div class="col-12">
                <form name="registration" method="POST">
                    <h2>Registration</h2>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field-wrapper">
                            {{ field.label_tag }}
                            {{ field }}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                    <button class="btn btn-lg btn-primary btn-block col-12" type="submit">Register</button>
                </form>
            <a href="/auth/login/" class="block">Already signed? Login</a>
            </div>
        </div>
    </div>
  </div>
{% endblock %}


